body{
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

div{
  margin: auto;
  max-width:85%
}

button{
  display: inline-block;
  padding: 1rem;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
